<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Course</title>
</head>
<body>
<h1>Edit Course</h1>
<form th:action="@{/admin/update}" th:object="${courseDTO}" method="post">
    <input type="hidden" th:field="*{id}">
    <div>
        <label>Title</label>
        <input type="text" th:field="*{title}">
    </div>
    <div>
        <label>Description</label>
        <input type="text" th:field="*{description}">
    </div>
  <div>
      <label>Price</label>
      <input type="text" th:field="*{price}">
  </div>
    <div>
        <label>Instructor</label>
        <select th:field="*{instructorId}">
            <option value="">Select Instructor:
            </option>
            <option th:each="user : ${instructors}"
                    th:value="${user.id}"
                    th:text="${user.fullName}">
            </option>
        </select>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>