<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head(pageTitle)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${pageTitle}">Course Management System</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/progressbar_barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/animated-headline.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/slick.css}">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>

<!-- Header Area Start -->
<header class="header-area" th:fragment="header">
    <div class="header-top">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-lg-8">
                    <div class="header-contact-info">
                        <div class="single-contact-info">
                            <i class="fas fa-phone"></i>
                            <span>+84 123 456 789</span>
                        </div>
                        <div class="single-contact-info">
                            <i class="fas fa-envelope"></i>
                            <span>info@coursemanagementsystem.com</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="header-right-info text-right">
                        <ul>
                            <li><a th:href="@{/auth/login}" class="theme-color">Sign In</a></li>
                            <li><a th:href="@{/auth/register}" class="theme-color">Sign Up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom header-sticky sticky-bar">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-xl-2 col-lg-2">
                    <div class="logo">
                        <a th:href="@{/}">
                            <img th:src="@{/img/logo/logo.png}" alt="Logo" style="height: 60px;">
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="main-menu d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li><a th:href="@{/}">Home</a></li>
                                <li><a th:href="@{/courses}">Courses</a></li>
                                <li><a th:href="@{/about}">About</a></li>
                                <li><a th:href="@{/contact}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                    <div class="header-right-btn">
                        <a th:href="@{/auth/login}" class="btn theme-bg">Sign In</a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

<!-- Page Content -->
<div th:fragment="content">
    <!-- page content -->
</div>

<!-- Footer Area Start -->
<footer class="footer-area footer-bg" th:fragment="footer">
    <div class="footer-top footer-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                    <div class="single-footer-caption">
                        <div class="single-footer-caption footer-tittle">
                            <h4>About Us</h4>
                            <ul>
                                <li><a th:href="@{/about}">About</a></li>
                                <li><a th:href="@{/contact}">Contact</a></li>
                                <li><a href="#">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                    <div class="single-footer-caption">
                        <div class="single-footer-caption footer-tittle">
                            <h4>Learning</h4>
                            <ul>
                                <li><a th:href="@{/courses}">Courses</a></li>
                                <li><a href="#">Tutorials</a></li>
                                <li><a href="#">Resources</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                    <div class="single-footer-caption">
                        <div class="single-footer-caption footer-tittle">
                            <h4>Support</h4>
                            <ul>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms of Service</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom-area">
        <div class="container border-top-generic">
            <div class="row d-flex align-items-center">
                <div class="col-lg-8">
                    <div class="footer-copy-right">
                        <p>
                            <i class="fas fa-copyright"></i> 2026 Course Management System. All rights reserved.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-social text-right">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<!-- JS -->
<script th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
<script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.slicknav.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/animated.headline.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.js}"></script>
<script th:src="@{/js/gijgo.min.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/js/jquery.barfiller.js}"></script>
<script th:src="@{/js/jquery.counterup.min.js}"></script>
<script th:src="@{/js/waypoints.min.js}"></script>
<script th:src="@{/js/jquery.countdown.min.js}"></script>
<script th:src="@{/js/hover-direction-snake.min.js}"></script>
<script th:src="@{/js/contact.js}"></script>
<script th:src="@{/js/jquery.form.js}"></script>
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/mail-script.js}"></script>
<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>
</html>